* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 5% 15%;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header, .content, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 36px;
    font-weight: 900;
}

.content {
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.board {
    min-width: 500px;
    aspect-ratio: 1 / 1;

    border: 4px solid black;
}

.board-row {
    display: flex;
}

.board-cell {
    aspect-ratio: 1 / 1;
    flex: 1;
}

.board-cell-filled {
    background-color: black;
    opacity: 0;
}

.settings {
    display: flex;
    gap: 1rem;
}

button { 
    padding: 4px 12px;
}